Source: kafcat
Priority: optional
Maintainer: Aleksey Morarash <aleksey.morarash@gmail.com>
Section: python
Homepage: https://github.com/EnvisionX/kafcat
VCS-Browser: https://github.com/EnvisionX/kafcat
VCS-Git: https://github.com/EnvisionX/kafcat.git
XS-Python-Version: 2.7
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8.0.0)

Package: kafcat
Architecture: all
Depends: python, python-kafka
Recommends: envx-python-commons
Description: Dump contents of an Apache Kafka topic to the stdout
 Dump contents of an Apache Kafka topic to the stdout.
