#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

DESTDIR = debian/kafcat
override_dh_auto_install:
	install -m 755 -d $(DESTDIR)/usr/bin
	install -m 755 kafcat.py $(DESTDIR)/usr/bin/kafcat
